.productsItem{
    width: 200px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.productsItem p{
 text-decoration: none;
 color: black;
}
.productsItem img{
    width: 150px;
}